Adafruit-Blinka==5.9.2
adafruit-circuitpython-dht==3.5.3
Adafruit-PlatformDetect==2.23.0
Adafruit-PureIO==1.1.8
certifi==2020.12.5
chardet==4.0.0
configparser==5.0.1
idna==2.10
pkg-resources==0.0.0
pyftdi==0.52.0
pyserial==3.5
pytz==2020.5
pyusb==1.1.0
PyYAML==5.3.1
requests==2.25.1
rpi-ws281x==4.2.5
RPi.GPIO==0.7.0
simplejson==3.17.2
sysv-ipc==1.0.1
urllib3==1.26.2
